*{
  padding: 0;
  margin: 0;
}
body{
  background:linear-gradient(rgb(231, 230, 213),rgb(46, 45, 45));
}
header{
  background-color: rgba(72, 87, 68, 0.397);
  padding: 15px ;
  margin: 10px 15px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
}
main{
  background-color: gray;
  min-height: 300px;
  padding: 15px ;
  margin: 10px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid BLACK;
  text-align: center;

}
.caja1{
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;  
}
.opciones{
  width: 60%;
  display: grid;
  justify-content: center;
}
input{
  width: 290px;
  padding: 3px;
  margin: 9px 10px;
  text-align: center;
  border-radius: 5px;
}
.botones{
  background-color: rgb(172, 169, 169);
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}
.btn{
  width: 80px;
  padding: 5px;
}
.caja2{
  background-color: rgb(15, 20, 19);
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  min-height: 200px;
  text-align: center;
  color: WHITE;
}
.contenedor{
  background-color: rgb(75, 80, 69);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 4px 0;
}
.contenedor:hover{
  transform: scale(1,1.4);
  background-color: rgb(25, 70, 41);
}
h4{
  width: 35%;
}
.nTelefono{
  width: 20%;
}
.nEdad{
  width: 40%;
  overflow: hidden;
}
.borrarU{
  background-color: black;
  color: white;
  border-radius:50% ;
  padding: 4px;
}
.borrarU:hover{
  background-color: red;
  cursor: pointer;
}
@media screen and (max-width:500px){
  .caja1{
    width: 100%;
    display: grid;
  }
  .opciones{
    width: 100%;
    justify-content: center;
  }
  .botones{
    background-color: rgb(95, 91, 91);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
  }input{
    width: 100%;
    padding: 3px;
    margin: 9px auto;
    text-align: center;
    border-radius: 5px;
  }
  .btn{
    margin: 3px auto;
    width: 40%;
    padding: 0;
  }
  .contenedor{
    background-color: rgb(53, 56, 48);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 4px 0;
  }
  h4{
    width: 50%;
  }
  .nTelefono{
    width: 50%;
  }
  .nEdad{
    width: 100%;
  }
  .contenedor:hover{
    transform: scale(1,1.2);
    background-color: rgb(25, 70, 41);
  }
}
